<main>
    <div class="dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>
            <div>
                <h2>Add or drop image <mat-icon>queue</mat-icon></h2>
            </div>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} </ngx-dropzone-label>
        </ngx-dropzone-image-preview>
    </div>
    <button mat-raised-button 
            color='accent' 
            (click)="send()" 
            [disabled]="files.length===0">Send</button>
</main>
